.container {
    width: calc(100% - 3rem);
    max-width: calc(614px - 3rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.text {
    width: 100%;
    font-size: 1.125rem;
    color: var(--text-color);
}

@media screen and (min-width: 1265px) {
    .container {
        width: calc(100% - 6.375rem);
        max-width: calc(614px - 6.375rem);
        padding-left: calc(1.5rem + 3.375rem);
        padding-right: 1.5rem;
        padding-top: 2rem;
        margin-left: 1.5rem;
    }
}