.container {
    width: calc(100% - 6.375rem);
    max-width: calc(614px - 6.375rem);
    padding-left: calc(1.5rem + 3.375rem);
    padding-right: 1.5rem;
    padding-top: 2rem;
    margin-left: 1.5rem;
}

.collectiontitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.linkItem {
    margin-block-start: 0.1rem;
    margin-block-start: 0.1rem;
}

@media screen and (min-width: 700px) {
    .container {
        width: calc(100% - 6.375rem);
        max-width: calc(614px - 6.375rem);
        padding-left: calc(1.5rem + 3.375rem);
        padding-right: 1.5rem;
        padding-top: 2rem;
        margin-left: 1.5rem;
    }
}