.article {
    width: calc(100% - 3rem);
    max-width: 614px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1.5625rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px #efebeb;
}

.header {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.tag {
    color: var(--main-blue);
    font-family: Source Sans Pro;
    width: 4.5rem;
    font-size: 0.75rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 4px;
    background: rgba(0, 113, 227, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.date {
    color: rgba(0, 0, 0, 0.33);
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

.icon {
    display: none;
    grid-area: 2 / 1 / 2 / 3;
    align-self: start;
}

.title {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2rem;
    font-weight: 700;
}

.body {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    max-width: calc(614px - 3.375rem);
    font-size: 1.125rem;
    color: var(--text-color);
}

.feedBody {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 25; /* number of lines to show */
            line-clamp: 25;
    -webkit-box-orient: vertical;
    z-index: 1;
}

.feedBodyFade {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    max-width: calc(614px - 3.375rem);
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.4416141456582633) 10%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
    z-index: 1000;
    pointer-events: none;
}

.body img {
    max-width: calc(614px - 3.375rem - 24px);
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
}

.linkToArchive {
    text-decoration: none;
    color: #000;
}

.linkToArchive:hover {
    color: var(--main-blue);
}

@media screen and (min-width: 700px) {
    .article {
        grid-template-columns: 3.375rem auto;
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 6.375rem;
        column-gap: 1.5rem;
    }

    .icon {
        height: 3.375rem;
        width: 3.375rem;
        display: block;
    }
}