.feed {
    margin-top: 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media screen and (min-width: 1265px) {
    .feed {
        margin-left: 1.5rem;
    }
}