.feed {
    margin-top: 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loading {
    height: 4rem;
    width: 100%;
    background-color: red;
}

@media screen and (min-width: 700px) {
    .feed {
        margin-left: 1.5rem;
    }
}