:root {
    --text-color: rgba(0, 0, 0, 0.66);
    --light-text-color: rgba(0, 0, 0, 0.33);
    --main-blue: #0071E3;
}

html, body {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
}

header {
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: flex-end;
    flex-direction: column;
    -webkit-box-align: end;
    box-sizing: border-box;
    position: relative;
}

main {
    display: flex;
    -webkit-box-flex: 1;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: flex-start;
    -webkit-box-align: start;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    gap: 5rem;
}

.headerWrapper {
    display: none;
    transition: left 0.2s ease;
}

.showHeader {
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: flex;
}

.hideHeader {
    display: none;
}

.mainWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    -webkit-box-align: start;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    gap: 6.5em;
}

@media screen and (min-width: 1265px) {
    .headerWrapper {
        left: 0rem;
        width: 17rem;
        display: flex;
    }

    .mainWrapper {
        width: 64rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}