.headingContainer {
    width: calc(100% - 0.2rem);
    padding-left: 0.2rem;
    margin-bottom: 1rem;
}

.homeLink {
    color: #000;
    text-decoration: none;
}

.logoTxt {
    font-size: 1.625rem;
    font-weight: 600;
    font-smooth: antialiased;
    margin-block-end: 0;
    margin-block-start: 0;
}

.slogan {
    font-size: 0.875rem;
    font-weight: 400;
    font-smooth: antialiased;
    margin-block-start: 0.3rem;
    margin-block-end: 0rem;
}