.button {
    width: 100%;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    border-radius: 15px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--main-blue);
    text-decoration: none;
}

.text {
    color: #fff;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: capitalize;
    display: none;
}

@media screen and (min-width: 1265px) {
    .text {
        display: block;
    }
}