.button {
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--main-blue);
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.2s ease;
    z-index: 4;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    transition: transform 0.2s ease;
}

.rotateIcon {
    transform: rotate(180deg);
}

.slideIn {
    right: 2rem; 
}

.slideOut {
    right: -5rem;
}

@media screen and (min-width: 700px) {
    .button {
        display: none;
    }
}